S3method(plot,STS)
S3method(print,STS)
S3method(summary,STS)
export(summary.STS)
export(print.STS)
export(plot.STS)
export(sts)
export(esthcpp)
export(estimateRegns)
export(lgaecpp)
export(lpbdcpp)
export(heldoutLikelihood)
export(topicExclusivity)
export(topicSemanticCoherence)
export(printTopWords)
export(printRegnTables)
export(plotRepresentativeDocs)
export(findRepresentativeDocs)
import(Rcpp)
import(doParallel)
import(foreach)
import(parallel)
import(stm)
import(mvtnorm)
import(Matrix)
import(ggplot2)
importFrom(RcppArmadillo, RcppArmadillo.package.skeleton)
importFrom("stats", "glm", "optim", "quantile", "rnorm")
importFrom("stats", "model.matrix")
useDynLib(sts, .registration = TRUE)
